.galleryDesktop {
    margin-top: 5%;
}

.galleryMobile {
    display: none;
  }
.galleryDesktop img {
    width: 100%;
}





  @media only screen and (max-width: 768px) {
    .galleryDesktop {
      display: none;
    }

    .galleryMobile {
      display: initial;
    }
  }